*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body,html {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
}


/* topbar -> styleTopbar.ss */

/* body */
.body-artiste, .body-album, .body-chanson{
    width: 100%;
    margin-top: 125px;
}
.body-artiste .main-artiste, .body-album .main-album, .body-chanson .main-chanson{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
.main-artiste .artiste-title, .main-album .album-title, .main-chanson .chanson-title{
    font-size: 50px;
    text-align: center;
    color: lightseagreen;
}
.main-artiste .rechercher input, .main-album .rechercher input, .main-chanson .rechercher input{
    border: 4px solid #000;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    box-shadow: 3px 3px 3px; 
    margin-bottom: 10px;
    width: 300px;
}

.main-artiste .table-artiste, .main-album .table-album, .main-chanson .table-chanson{
    border: 5px solid #000;
}
.table-artiste .table, .table-album .table, .table-chanson .table{
    border-spacing: 5px 1rem;
    width: 100%;
}
.table-artiste .table a, .table-album .table a, .table-chanson .table a{
    font-size: 25px;
    color: #000;
}
.table-artiste .table a:hover, .table-album .table a:hover, .table-chanson .table a:hover{
    color: blue;
}
.table-artiste .table th, .table-album .table th, .table-chanson .table th{
    border: 5px solid #000;
}
.table-artiste .table td, .table-album .table td, .table-chanson .table td{
    font-size: 22px;
    padding-top: 5px;
    text-align: center;
}
.table-artiste .table .bio-cal{
    text-align: left;
}
.table-artiste .separate-posts, .table-album .separate-posts, .table-chanson .separate-posts{
    border: 2px solid #000;
}

.paps {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
}
.paps .pa a, .paps .ps a{
    text-decoration: none;
    text-align: center;
    border: 3px solid #000;
    border-radius: 8px;
}



