*{
    box-sizing: border-box;
}
body,html{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
    background: lightgrey;
}

/* topbar -> styleTopbar.ss */

/* Pour le deroulant */
.slideContainGalerie{
    width:100%;
    height: 250px;
}
#galerie{
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
}
#galerie img{
    position: absolute;
    display: none;
    width: 250px;
    height: 300px;
}
#galerie .active{
    display: block;
}
/*************************/


/* body  CLient */
.body-accueilMusical{
    width: 100%;
    margin-top: 110px;
}

.presentation-accueilMusical .image-backgroundAccueil{
    height: 400px;
    background: no-repeat center center / cover url("../img/firstimg.jpg");
}
.presentation-accueilMusical .title-background{
    position: relative;
    top: -300px;
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 80px;
}
.container-accueilMusical{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: -120px;
}
.main-accueilMusical .aspect-accueilMusical{
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.main-accueilMusical .aspect-accueilMusical img{
    width: 150px;
    float: left;
    padding-bottom: 20px;
    margin-right: 15px
}
.main-accueilMusical .aspect-accueilMusical h4{
    font-size: 25px
}
.main-accueilMusical .aspect-accueilMusical p{
    margin-top: -25px;
    margin-right: 10px;
    font-size: 25px

}
.download-sound{
    margin-right : 100px;
}
.download-sound .sound, .pub-zap .zap{
    margin-top: 30px;
}
.separate{
    border: 6px solid #000;
    width: 500px;
}

.site-view{
    width: 100%;
}
.see-information h2{
    font-size: 40px;
}
.see-information .search-information h3{
    margin-left: 50px;
    font-size: 30px;
}
.see-information .search-information h3:before{
    content: "↪ ";

}
.see-information .search-information a{
    text-decoration: none;
    color: grey;
}
.see-information .search-information a:hover{
    color : #000;
    text-decoration: underline;
}

.separate-main-aside{
    border: 2px solid #000;
    margin-left :20px;
    margin-right: 20px
}
.aside-accueilMusical{
    width: auto;
}
.aside-accueilMusical .title-recherche {
    font-size: 35px;
    color : blue
}
.aside-accueilMusical .rechercheAAT{
    line-height: 40px;
}
.aside-accueilMusical .rechercheAAT label {
    width: 300px;
    text-align: center;
    font-size: 30px;
}
.aside-accueilMusical .rechercheAAT input, .aside-accueilMusical .rechercheAAT select{
    border: 4px solid #000;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    box-shadow: 3px 3px 3px; 
    margin-bottom: 25px;
    width: 300px;
    cursor: pointer;
}



@media only screen and (max-width:1290px){
    .body-accueilMusical{
        margin-top: 200px;
    }
}