*{
    box-sizing: border-box;
}
body,html{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
    background: lightgrey;
}

/* topbar -> styleTopbar.ss */

/* Pour le deroulant */
.slideContainGalerie{
    width:100%;
    height: 250px;
}
#galerie{
    margin-top: 115px;
    position: relative;
}
#galerie img{
    position: absolute;
    display: none;
    width: 220px;
    height: 300px;
}
#galerie .active{
    display: block;
}
/*************************/


/* body  CLient */
.body-accueilMusical{
    width: 100%;
    margin-top: -130px;
}
.presentation-accueilMusical .image-backgroundAccueil{
    height: 400px;
    background: no-repeat center center / cover url("../img/firstimg.jpg");
    margin-bottom: 25px;
}
.presentation-accueilMusical .title-background{
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 60px;
}
.container-accueilMusical{
    margin: 0;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;

}
.main-accueilMusical .aspect-accueilMusical{
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.main-accueilMusical .aspect-accueilMusical img{
    width: 100px;
    float: left;
    padding-bottom: 20px;
    margin-right: 15px
}
.main-accueilMusical .aspect-accueilMusical h4{
    font-size: 25px
}
.main-accueilMusical .aspect-accueilMusical p{
    margin-top: -25px;
    margin-right: 10px;
}
.download-sound{
    margin-right : 100px;
}
.download-sound .sound, .pub-zap .zap{
    margin-top: 30px;
}
.separate{
    border: 4px solid #000;
    width: 400px;
}

.site-view{
    width: 100%;
}
.see-information h2{
    font-size: 40px;
}
.see-information .search-information h3{
    margin-left: 50px;
}
.see-information .search-information h3:before{
    content: "↪ ";

}
.see-information .search-information a{
    text-decoration: none;
    color: grey;
}
.see-information .search-information a:hover{
    color : #000;
    text-decoration: underline;
}

.site-message{
    margin-top: 30px;
    width: 600px;
}
.site-message .fieldset legend{
    font-size: 30px
}
.site-message .fieldset .comment{
    max-height: 200px;
    max-width: 400px;
    margin-left: 50px;
}
.site-message .fieldset input {
    font-size: 25px;
    margin-left: 50px;
}
.separate-main-aside{
    border: 2px solid #000;
    margin-left :20px;
    margin-right: 20px
}
.aside-accueilMusical{
    width: auto;
    margin-top : 20px;
}

@media only screen and (max-width:1290px){
    .body-accueilMusical{
        margin-top: 200px;
    }
}