*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body,html {
    font-size: 16px;
    background: lightgrey;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
}

/* --- Topbar --- */
.topbarClient{
    height: 110px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: grey;
    font-size: 30px;
    z-index: 5;
}
.topbarClient nav{
    margin: 10px;
}
.topbarClient .topbarCLient-D{
    float:right;
    margin-top: 25px;
}
.topbarClient .topbarCLient-D a{
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 50px;
}
.topbarClient .topbarCLient-D a:hover{
    text-decoration: underline;
    opacity: 1;
}
/* --- --- */

.body-son{
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    display: flex;
}
.son{
    width: 700px;
}
.son .title-son {
    font-size: 35px;
    color: lightseagreen;
    text-decoration: underline;
}
.son .iframe-son {
    width: 700px;
    height: 700px;
}
.body-son .aside-son{
    margin-top: 86px;
    margin-left: 20px;
    font-size: 22px;
    border: 1px solid #000;

}
.aside-son .title-aside-son {
    font-size: 30px;
    margin-left: 10px;
    color: steelblue;
}
