/*
//===================================================
// Name        : styleAccueilClient.css
// Author      : Jonathan
// Version     : Final
// Description : Design de la page principal du client quand il est connecté (accueilClient.php).
//===================================================
*/
*{
    box-sizing: border-box;
}
body,html{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
    background: lightgrey;
}

/* topbar -> styleTopbar.ss */

/* Pour le deroulant */
.slideContainGalerie{
    width:100%;
    height: 250px;
}
#galerie{
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
}
#galerie img{
    position: absolute;
    display: none;
    width: 250px;
    height: 300px;
}
#galerie .active{
    display: block;
}
/*************************/


/* body  CLient */
.body-accueilMusical{
    width: 100%;
    margin-top: 110px;
}

.presentation-accueilMusical .image-backgroundAccueil{
    height: 400px;
    background: no-repeat center center / cover url("../img/firstimg.jpg");
}
.presentation-accueilMusical .title-background{
    position: relative;
    top: -300px;
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 80px;
}
.container-accueilMusical{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: -120px;
}
.main-accueilMusical .aspect-accueilMusical{
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.main-accueilMusical .aspect-accueilMusical img{
    width: 150px;
    float: left;
    padding-bottom: 20px;
    margin-right: 15px
}
.main-accueilMusical .aspect-accueilMusical h4{
    font-size: 25px
}
.main-accueilMusical .aspect-accueilMusical p{
    margin-top: -25px;
    font-size: 25px
}
.download-sound{
    margin-right : 100px;
}
.download-sound .sound, .pub-zap .zap{
    margin-top: 30px;
}
.separate{
    border: 6px solid #000;
    width: 500px;
}

.site-view{
    width: 100%;
}
.see-information h2{
    font-size: 40px;
}
.see-information .search-information h3{
    margin-left: 50px;
    font-size: 30px;
}
.see-information .search-information h3:before{
    content: "↪ ";

}
.see-information .search-information a{
    text-decoration: none;
    color: grey;
}
.see-information .search-information a:hover{
    color : #000;
    text-decoration: underline;
}

.separate-main-aside{
    border: 2px solid #000;
    margin-left :20px;
    margin-right: 20px
}
.aside-accueilMusical{
    width: auto;
}
.aside-accueilMusical .title-recherche {
    font-size: 35px;
    color : blue
}
.aside-accueilMusical .rechercheAAT{
    line-height: 40px;
}
.aside-accueilMusical .rechercheAAT label {
    width: 300px;
    text-align: center;
    font-size: 30px;
}
.aside-accueilMusical .rechercheAAT input, .aside-accueilMusical .rechercheAAT select{
    border: 4px solid #000;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    box-shadow: 3px 3px 3px; 
    margin-bottom: 25px;
    width: 300px;
    cursor: pointer;
}



@media only screen and (max-width:1290px){
    .body-accueilMusical{
        margin-top: 200px;
    }
    .container-accueilMusical {
        display: block;
        margin-right: auto;
        width: 900px;
    }
    .separate{
        width: 900px;
    }
    .main-accueilMusical .aspect-accueilMusical{
        display: inline-flex;
    }
    .separate-main-aside {
        border:none
    }
    .see-information {
        margin-left: 20px;
    }
    .aside-accueilMusical {
        width: 400px;
        display: flex;
        padding-left: 20px;
    }
    #galerie img {
        margin-left : 50px;
        margin-top: 20px
    }
}
@media only screen and (max-width:1143px){
    .body-accueilMusical { 
        margin-top: 280px;
    }
}
@media only screen and (max-width:910px) {
    .container-accueilMusical {
        width: auto;
    }
    .separate{
        width: auto;
    }
    .main-accueilMusical .aspect-accueilMusical {
        display: grid;
        width: 600px;
    }
}
@media only screen and (max-width:665px) {
    .aside-accueilMusical{
        margin: 0 auto;
        display: block;
    }
    #galerie img {
        margin-left : 0;
        margin-top: -25px
    }
}
@media only screen and (max-width:643px) {
    .body-accueilMusical { 
        margin-top: 380px;
    }
}
@media only screen and (max-width:610px) {
    .main-accueilMusical .aspect-accueilMusical {
        width: 380px;
    }
    .download-sound {
        margin-right: 0;
    }
}
@media only screen and (max-width:514px) {
    .main-accueilMusical .aspect-accueilMusical {
        margin-top: -250px;
    }
}
@media only screen and (max-width:485px) {
    .presentation-accueilMusical .title-background { 
        font-size: 55px;
        margin-bottom: 200px;
    }
}
@media only screen and (max-width:450px) {
    .body-accueilMusical { 
        margin-top: 450px; 
    }
    .presentation-accueilMusical .title-background { 
        font-size: 45px;
    }
}
@media only screen and (max-width:436px) {
    .body-accueilMusical { 
        margin-top: 560px;
    }
    .main-accueilMusical .aspect-accueilMusical, .aside-accueilMusical { 
        width: 286px;
    }
    .main-accueilMusical .aspect-accueilMusical img { 
        margin-right: 150px;
    }
}
@media only screen and (max-width:380px) {
    .download-sound, .pub-zap {
        width: 286px;
        margin-left: 3px;
    }
    .main-accueilMusical .aspect-accueilMusical img {
        margin-bottom: -50px;
        float: none;
        width: 200px;
        margin-right: 0;
    }
    .see-information h2 {
        font-size: 30px;
    }
}
@media only screen and (max-width:365px) {
    .aside-accueilMusical .rechercheAAT input, .aside-accueilMusical .rechercheAAT select {
        width: 250px;
    }
    .aside-accueilMusical .rechercheAAT label {
        font-size: 25px;
    }
    #galerie img {
        width: 200px;
        height: 250px;
    }
}
@media only screen and (max-width:286px) {
    .separate {
        width: 286px
    }
}