/*
//===================================================
// Name        : styleSon.css
// Author      : Jonathan
// Version     : Final
// Description : Design de la page son (son.php).
//===================================================
*/
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body,html {
    font-size: 16px;
    background: lightgrey;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0;
}

/* --- Topbar --- */
.topbarClient{
    height: 110px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: grey;
    font-size: 30px;
    z-index: 5;
}
.topbarClient nav{
    margin: 10px;
}
.topbarClient .topbarCLient-D{
    float:right;
    margin-top: 25px;
}
.topbarClient .topbarCLient-D a{
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 50px;
}
.topbarClient .topbarCLient-D a:hover{
    text-decoration: underline;
    opacity: 1;
}
/* --- --- */

.body-son{
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    display: flex;
}
.son{
    width: 700px;
}
.son .title-son {
    font-size: 32px;
    color: lightseagreen;
    text-decoration: underline;
}
.son .iframe-son {
    width: 700px;
    height: 700px;
}
.body-son .aside-son{
    margin-top: 86px;
    margin-left: 20px;
    font-size: 16px;
    border: 1px solid #000;

}
.aside-son .title-aside-son {
    font-size: 30px;
    margin-left: 10px;
    color: steelblue;
}

.aside-son ul {
    border: 2px solid #000;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    list-style: none;
}
.aside-son ul a {
    text-decoration: none;
    color : #000;
}
.aside-son ul a:hover {
    color : blue;
}
.aside-son .active::before {
    content: "➥ ";
    color :red
}

/* --- @media screen --- */
@media only screen and (max-width: 1020px) {
    .body-son {
        width: auto;
        display: block;
        margin-top: 135px;
    }
    .son { 
        width: auto;
    }
    .son .title-son {
        margin-left: 20px
    }
    .son .iframe-son {
        width: 100%;
        height: 400px;
    }
    .body-son .aside-son {
        margin-top: 40px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 930px) {
    .topbarClient{
        position: absolute;
        height: 200px;
        background: grey;
    }
    .topbarClient nav {
        float : none;
        text-align: center;
    }
    .topbarClient nav a{
        margin-top: -40px;
        display: inline-block;
        white-space: nowrap;
    }
    .body-son { 
        margin-top: 220px;
    }
}
@media only screen and (max-width: 780px) {
    .topbarClient {
        height: 280px;
    }
    .body-son { 
        margin-top: 300px;
    }
}
@media only screen and (max-width: 462px) {
    .topbarClient {
        height: 360px;
    }
    .body-son { 
        margin-top: 380px;
    }
}
@media only screen and (max-width:350px) {
    .topbarClient .topbarCLient-D a:last-child {
        padding-left: 50px;
        padding-right: 0;
    }
}